.btn {
  background-color: var(--blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border: 2px solid black;
  display: inline-block;
}

.btn:hover {
  box-shadow: rgba(245, 246, 246, 0.91) 0px 10px 40px;
  transition: all 2sec;
}

.btn-outlined {
  text-align: center;
  background-color: var(--black);
  padding: 0.45rem 1.5rem;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  border: 2px solid var(--blue);
  min-width: 80px;
  color: var(--white);
  display: inline-block;
}
